# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim Swap Files
*.swp

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environment Files ( load from autoenv )
.env

# Django Migrations
migrations/

# Grunt, Bower
bower_components/
node_modules/
**/components/
**/.sass-cache/

*.css
*.map
snussum/snussum/static/css/
snussum/snussum/static/deploy/
snussum/snussum/media/

# Vagrant
.vagrant/

# Celery
**/celerybeat-schedule
