<div class="page-header text-center">
  <h1 id="rules-privacy">개인정보 보호정책</h1>
  <p>썸타는 서울대, 스누썸은 사용자의 개인정보보호를 위해서 최선을 다하고 있습니다</p>
</div>

<ul class="rules">
  <li class="rule">
    <h2 id="rules-privacy-01">제 1 조 목적</h2>
    <p>
      <ol>
        <li>썸타는 서울대, 스누썸 (이하 '사이트')는 회원의 개인정보보호를 매우 중요시하며, 「정보통신망 이용촉진 및 정보보호」에 관한 법률을 준수하고 있습니다. 회사는 개인정보보호방침을 통하여 회원이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 회사가 개인정보보호를 위해 어떠한 조치를 취하고 있는지 알려드립니다.</li>
        <li>본 개인정보취급방침은 정부의 법령 및 지침의 변경, 또는 보다 나은 서비스의 제공을 위하여 그 내용이 변경될 수 있으며, 회사는 개인정보취급방침을 개정하는 경우 홈페이지 상에 공지할 것입니다.</li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-02">제 2 조 수집하는 개인정보의 항목 및 수집 방법</h2>
    <p>
      회사는 회원가입, 상담, 서비스 제공 등을 위해 다음과 같은 개인정보를 수집하고 있습니다.

      <ol>
        <li>
          회원가입 시 수집하는 개인정보의 범위
          <ul>
            <li>성명 또는 닉네임</li>
            <li>이메일</li>
            <li>비밀번호</li>
          </ul>
        </li>
        <li>서비스 이용과정 및 처리과정에서 수집될 수 있는 정보의 범위
          <ul>
            <li>서비스 이용기록</li>
            <li>접속 로그</li>
            <li>쿠키</li>
            <li>접속 IP정보</li>
          </ul>
        </li>
        <li>개인정보 수집방법
          <ul>
            <li>홈페이지 (회원가입)</li>
          </ul>
        </li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-03">제 3 조 개인정보의 수집 및 이용 목적</h2>
    <p>
      회사는 수집된 회원의 개인정보를 다음의 목적을 위해 사용하고 있습니다.
      <ol>
        <li>
          회원관리
          <ul>
            <li>회원제 서비스 이용에 따른 본인확인</li>
            <li>개인식별</li>
            <li>불량회원의 부정 이용방지와 비인가 사용방지</li>
            <li>가입의사 확인</li>
            <li>분쟁 조정을 위한 기록 보존</li>
            <li>불만처리 등 민원처리</li>
            <li>뉴스레터 등 고지사항 전달</li>
          </ul>
        </li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-04">제 4조 개인정보수집에 대한 동의</h2>
    <p>
      회사는 회원이 회사의 개인정보취급방침 또는 이용약관의 내용에 대해 「동의합니다」버튼 또는 「동의하지 않습니다」버튼을 클릭할 수 있는 절차를 마련하여, 「동의합니다」버튼을 클릭하면 개인정보수집에 대해 동의한 것으로 봅니다.  
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-02">제 5 조 개인정보의 보유 / 이용기간 및 파기</h2>
    <p>
      <ol>
        <li>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 개인정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우, 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
          <ul>
            <li>표시 / 광고에 관한 기록 : 6개월</li>
            <li>계약 또는 청약철회 등에 관한 기록 : 5년</li>
            <li>대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
            <li>소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</li>
            <li>신용정보의 수집, 처리 및 이용 등에 관한 기록: 3년</li>
          </ul>
        </li>
        <li>회사는 원칙적으로 개인정보수집에 대한 동의철회가 있거나 개인정보수집 및 이용목적이 달성된 후에는 해당정보를 지체 없이 파기합니다.
          <ul>
            <li>회원이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다. </li>
            <li>종이에 출력된 개인 정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
          </ul>
        </li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-06">제 6 조 링크 사이트</h2>
    <p>회사는 회원에게 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 회사는 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임질 수 없으며 보증할 수 없습니다. 회사가 포함하고 있는 링크를 클릭하여 타 사이트의 페이지로 옮겨 갈 경우 해당 사이트의 개인정보보호정책은 회사와 무관하므로 새로 방문한 사이트의 정책을 검토해 보시기 바랍니다.</p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-07">제 7 조 개인정보의 목적 외 사용 및 제 3자에 대한 제공 및 공유</h2>
    <p>
      회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.
      <ol>
        <li>이용자들이 사전에 동의한 경우</li>
        <li>법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
      </ol>

      다만, 보다 나은 서비스의 제공을 위하여 회원의 개인정보를 협력업체 등과 공유할 필요가 있는 경우에는 제공받는 자, 주된 사업, 제공 목적 및 제공할 정보의 내용 등을 상세히 회원에게 개별 고지하여 동의를 구하도록 하겠습니다.

      아래의 경우에는 관련 법령의 규정에 의하여 회원의 동의 없이 개인정보를 제공할 수도 있사오니 이점 양지해 주시기 바랍니다.

      <ol>
        <li>통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우</li>
        <li>관계법령의 규정에 의거하거나, 수사목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-08">제 8 조 수집한 개인정보의 위탁</h2>
    <p>회사는 회원의 동의 없이 회원 정보를 외부업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁업무내용에 대해 회원에게 상세히 알리고, 동의를 얻도록 하겠습니다. </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-09">제 9 조 회원 및 법정대리인의 권리와 그 행사방법</h2>
    <p>
      <ol>
        <li>회원 및 법정 대리인은 언제든지 등록되어 있는 자신 또는 대리자의 개인정보를 조회하거나 수정할 수 있으며, 회원탈퇴절차를 통해 가입해지를 요청할 수도 있습니다.</li>
        <li>회원 혹은 대리인의 개인정보 조회, 수정을 위해서는 홈페이지의 '마이페이지' 내의 '정보변경'을, 가입해지 (동의철회)를 성명, 아이디(가입 시 기재한 이메일) 등의 정보를 탈퇴의사와 함께 문의하기에 게시하거나, 동일한 내용을 기재하여 contact@snussum.com로 이메일을 보내면 탈퇴하실 수 있습니다. 이 외에도, 회사의 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</li>
        <li>회원이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.</li>
        <li>회사는 회원이 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 회사가 수집하는 “개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-10">제 10 조 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h2>
    <ol>
      <li>회사는 회원들에게 보다 적절하고 유용한 서비스를 제공하기 위하여 회원의 정보를 수시로 저장하고 불러오는 ‘쿠키(cookie)’를 사용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 회원의 컴퓨터로 전송하는 아주 작은 텍스트 파일로서 회원의 컴퓨터 하드디스크에 저장됩니다.  </li>
      <li>회원은 쿠키의 사용여부에 대하여 선택하실 수 있습니다. -li쿠키 설정 거부 방법(예 : 인터넷 익스플로어의 경우 - 웹 브라우저 상단의 도구 > 인터넷 선물 > 개인정보 )</li>
      <li>회원은 사용하는 웹 브라우저의 선물을 설정함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. 단, 쿠키의 저장을 거부할 경우 로그인이 필요한 일부 서비스의 이용에 제한이 생길 수 있음을 양지하시기 바랍니다.</li>
    </ol>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-11">제 11 조 개인정보의 관리적 보호 대책</h2>
    <p>
      회사는 회원들의 개인정보를 보호하기 위하여 다음과 같은 보호 대책을 시행하고 있습니다.

      <ol>
        <li>회원의 비밀번호는 암호화되어 저장 및 관리되고 있습니다. 비밀번호는 오직 회원 본인만이 알 수 있으며 개인정보를 확인 및 변경할 경우에도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서 회원의 비밀번호가 타인에게 알려지지 않도록 각별히 주의하시기 바랍니다.
        </li>
        <li>회사는 해킹이나 컴퓨터 바이러스에 의하여 회원들의 개인정보가 유출되거나 훼손되는 것을 막기 위하여 필요한 보안조치를 이용하고 있으며, 더욱 향상된 보안조치를 확보할 수 있도록 가능한 모든 기술적 방법을 구비하기 위하여 노력하고 있습니다.
        </li>
        <li>회사는 개인정보를 취급하는 직원을 최소한으로 제한하고 있으며, 관련 직원들에 대한 교육을 수시로 실시하여 본 방침의 이행 및 준수여부를 확인하고 있습니다.
        </li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-12">제 12 조 개인정보관리책임자</h2>
    <p>
      <ol>
        <li>회원의 개인정보를 보호하고 개인정보와 관련된 불만 등을 처리하기 위하여 회사는 개인정보관리책임자를 두고 있습니다. 회원의 개인정보와 관련한 문의사항은 아래의 개인정보관리책임자에게 연락하여 주시기 바랍니다. : contact@snussum.com
        </li>
        <li>기타 개인정보에 관한 신고나 상담이 필요한 경우에는 개인정보침해신고센터, 대검찰청인터넷범죄수사센터, 사이버경찰청 등으로 문의하실 수 있습니다.
          <ul>
            <li>개인정보 침해 신고센터</li>
            <li>대검찰청인터넷범죄수사센터</li>
            <li>사이버경찰청</li>
          </ul>
        </li>
      </ol>
    </p>
  </li>
  <li class="rule">
    <h2 id="rules-privacy-13">제 13 조 개인정보취급방침의 개정과 그 공지</h2>
    <p>
      본 방침은 2015년 05월 26일 부터 시행됩니다. 본 개인정보취급방침이 변경될 경우, 회사는 변경내용을 그 시행일 7일 전부터 홈페이지를 통해 공지할 예정입니다.
    </p>
  </li>
</ul>
