<nav id="scrollspy" class="hidden-xs hidden-sm" data-spy="affix">
  <ul class="nav">
    <li><a href="#rules-privacy">개인정보 보호정책</a></li>
    <hr />
    <li><a href="#rules-privacy-01">총칙</a></li>
    <li><a href="#rules-privacy-02">수집하는 개인정보의 항목 및 수집방법</a></li>
    <li><a href="#rules-privacy-03">개인정보의 수집 및 이용 목적</a></li>
    <li><a href="#rules-privacy-04">개인정보수집에 대한 동의</a></li>
    <li><a href="#rules-privacy-05">개인정보의 보유/이용기간 및 파기</a></li>
    <li><a href="#rules-privacy-06">링크 사이트</a></li>
    <li><a href="#rules-privacy-07">개인정보의 목적 외 사용</a></li>
    <li><a href="#rules-privacy-08">수집한 개인정보의 위탁</a></li>
    <li><a href="#rules-privacy-09">회원 및 법정대리인의 권리와 그 행사방법</a></li>
    <li><a href="#rules-privacy-10">개인정보 자동수집 장치의 설치 및 운영</a></li>
    <li><a href="#rules-privacy-11">개인정보의 관리적 보호 대책</a></li>
    <li><a href="#rules-privacy-12">개인정보관리책임자</a></li>
    <li><a href="#rules-privacy-13">개인정보취급방침의 개정과 그 공지</a></li>
  </ul>
</nav>
