<nav id="scrollspy" class="hidden-xs hidden-sm" data-spy="affix">
  <ul class="nav">
    <li><a href="#rules-service">서비스 이용약관</a></li>
    <hr />
    <li><a href="#rules-service-01">목적</a></li>
    <li><a href="#rules-service-02">용어의 정의</a></li>
    <li><a href="#rules-service-03">약관의 명시와 개정</a></li>
    <li><a href="#rules-service-04">이용계약의 성립</a></li>
    <li><a href="#rules-service-05">이용신청 및 제한</a></li>
    <li><a href="#rules-service-06">이용자 ID부여 및 변경</a></li>
    <li><a href="#rules-service-07">계약사항의 변경</a></li>
    <li><a href="#rules-service-08">이용자의 정보 보안</a></li>
    <li><a href="#rules-service-09">서비스 이용</a></li>
    <li><a href="#rules-service-10">서비스의 중지 및 중지에 대한 공지</a></li>
    <li><a href="#rules-service-11">서비스 이용제한</a></li>
    <li><a href="#rules-service-12">정보제공 및 광고의 게재</a></li>
    <li><a href="#rules-service-13">게시물의 관리 운영</a></li>
    <li><a href="#rules-service-14">회사의 소유권</a></li>
    <li><a href="#rules-service-15">회사의 의무</a></li>
    <li><a href="#rules-service-16">이용자의 의무</a></li>
    <li><a href="#rules-service-17">개인정보보호정책</a></li>
    <li><a href="#rules-service-18">회원에 대한 통지</a></li>
    <li><a href="#rules-service-19">개별 서비스에 대한 약관 및 이용조건</a></li>
  </ul>
</nav>
