{% extends "_base.html" %}

{% block title %}로그인{% endblock %}

{% block content %}
<section id="login">

  <section id="login-description">
    <div class="wrapper">
      <h1>로그인</h1>  
      <p>서울대학생의, 서울대학생에 의한, 서울대학생을 위한 소개팅</p>
    </div>
  </section>

  <section id="login-content">
    <div class="wrapper">

      <section id="login-form">
        <p>아이디와 비밀번호를 입력해주세요.</p>
        <form action="{% url 'users:login' %}" method="post" accept-charset="utf-8">{% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>

          <input type="submit" value="로그인" />
        </form>
      </section>

      <section id="login-event">
      </section>
    </div>
  </section>

</section>
{% endblock %}
