{% extends "_base.html" %}

{% block content %}
<section id="password-reset">
  <section class="container">
    <div class="row">
      <div class="page-header text-center">
        <h1>비밀번호 재설정</h1>
        <p>
          비밀번호를 잊으신경우, 비밀번호 재설정을 통해서 새로운 비밀번호를
          설정할 수 있습니다. 
        </p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
        <p>
        계정에 등록된 이메일이나 휴대전화 문자메시지를 통해서 새로운 임시 비밀번호를 보내드리겠습니다.
        </p>

        <div class="form-group">
          <input type="email" required value="" name="" id="email" class="form-control" placeholder="contact@snussum.com" />
          <button type="submit" class="text-center btn-snussum-darkgrey">
            <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;이메일을 이용하여 비밀번호 찾기
          </button>
        </div>

        <div class="form-group">
          <input type="tel" required value="" name="" id="phonenumber" class="form-control" placeholder="010-1234-5678" />
          <button type="submit" class="text-center btn-snussum-darkgrey">
            <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;휴대폰을 이용하여 비밀번호 찾기
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
