{% extends "_base.html" %}

{% block content %}
<section id="profile">

  <section class="container">
    <div class="row">
      <div class="page-header text-center">
        <h1>마이페이지 <small>Profile</small></h1>
        <p>기본정보를 확인하거나 수정하실 수 있습니다</p>
      </div>
    </div>
  </section>

  <section class="container">

    <div class="col-sm-12 col-md-6">
      <ul>
        {% for notification in user.notifications.all %}
        <li>
          {% if notification.action_object_content_type.name == "dating" %}
            <a href="{% url "dating-detail" notification.action_object.hash_id %}">
              <strong>{{ notification.actor.userprofile.nickname }}</strong>님과 새롭게 매칭되었습니다.
              {{ notification.action_object.matched_at }}
            </a>
          {% elif notification.action_object_content_type.name == "comment" %}
          <a href="{% url "dating-detail" notification.action_object.dating.hash_id %}#{{ notification.action_object.hash_id }}">
            <strong>{{ notification.actor.userprofile.nickname }}</strong>님이 새로운 메시지를 보냈습니다: "{{ notification.description }}"
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="profile-settings-lists text-center">
        <ul class="nav nav-tabs" role="tablist">
          <li class="profile-settings-list active">
            <a href="#account" data-toggle="tab" aria-controls="account">기본 정보</a>
          </li>
          <li class="profile-settings-list">
            <a href="#information" data-toggle="tab" aria-controls="information">프로필 정보</a>
          </li>
          <li class="profile-settings-list">
            <a href="#condition" data-toggle="tab" aria-controls="condition">매칭 조건</a>
          </li>
        </ul>
      </div>

      <section class="profile-settings-details tab-content">
        <section id="account" role="tabpanel" class="tab-pane profile-settings-detail animated fadeIn active">
          {% include "users/_profile/_account.html" %}
        </section>
        <section id="information" role="tabpanel" class="tab-pane profile-settings-detail animated fadeIn">
          {% include "users/_profile/_information.html" %}
        </section>
        <section id="condition" role="tabpanel" class="tab-pane profile-settings-detail animated fadeIn">
          {% include "users/_profile/_condition.html" %}
        </section>
      </section>
    </div>
  </section>

</section>
{% endblock %}
