{% extends "_base.html" %}

{% block title %}회원가입{% endblock %}

{% block content %}
<section id="signup">

  <section class="container">
    <div class="row">
      <div class="page-header">
        <h1>회원가입 <small>하고 썸타기</small></h1>
        <p>서울대학생의, 서울대학생에 의한, 서울대학생을 위한 소개팅</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <form action="{% url 'users:signup' %}" method="post" accept-charset="utf-8">{% csrf_token %}
        <table>
          <tr>
            <td>아이디</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>비밀번호</td>
            <td>{{ form.password1 }}</td>
          </tr>
          <tr>
            <td>비밀번호 확인</td>
            <td>{{ form.password2 }}</td>
          </tr>
        </table>

        <input type="submit" value="회원가입" />
      </form>
    </div>
  </section>
  
</section>
{% endblock %}
