<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>아이디</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>이메일</th>
      <td>
        {% if user.email %}
          {{ user.email }}
        {% else %}
          <span class="small danger">
            * 이메일이 등록되지 않았습니다.<br/>
            이메일이 등록되지 않은 경우 비밀번호 찾기 및 이메일 알림 기능을
            이용할 수 없습니다.
          </span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>상태</th>
      <td>
        <span class="success">
          <i class="fa fa-check"></i> {{ user.userprofile.university.full_name }} 인증 완료
        </span>
      </td>
    </tr>
    <tr>
      <th>소셜 계정 연동</th>
      <td>
        {% if user.userprofile.kakao %}
          <p class="text-center social-login social-login-kakao"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;카카오 계정 연동 완료</p>
        {% else %}
          <a href="{% url "social:begin" backend="kakao" %}" class="text-center social-login social-login-kakao"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;카카오 계정 연동하기</a>
        {% endif %}

        {% if user.userprofile.facebook %}
        <p class="text-center social-login social-login-facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;페이스북 계정 연동 완료</p>
        {% else %}
        <a href="{% url "social:begin" backend="facebook" %}" class="text-center social-login social-login-facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;페이스북 계정 연동하기</a>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
