<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>아이디</th>
      <td>
        <span class="small success">
          <i class="fa fa-check"></i> 아이디는 어떠한 경우에도 상대방에게 노출되지 않습니다.
        </span><br/>
        {{ user.username }}
      </td>
    </tr>
    <tr>
      <th>이메일</th>
      <td>
        {% if user.email %}
          <span class="small success">
            <i class="fa fa-check"></i> 이메일이 성공적으로 등록되었습니다. 이메일은 매칭 시 상대방에게 공개됩니다.
          </span><br/>
        {{ user.username }}
          {{ user.email }}
        {% else %}
          <span class="small danger">
            * 이메일이 등록되지 않았습니다.<br/>
            이메일이 등록되지 않은 경우 비밀번호 찾기 및 이메일 알림 기능을
            이용할 수 없습니다.
          </span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>상태</th>
      <td>
        <span class="success">
          <i class="fa fa-check"></i> {{ user.userprofile.university.full_name }} 인증 완료
        </span>
      </td>
    </tr>
    <tr>
      <th>소셜 계정 연동</th>
      <td>
        {% if user.userprofile.kakao %}
          <span class="small success">
            <i class="fa fa-check"></i> 카카오 계정이 성공적으로 등록되었습니다.
          </span><br/>
          <p class="text-center social-login social-login-kakao"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;카카오 계정 연동 완료</p>
        {% else %}
          <span class="small danger">
            <i class="fa fa-close"></i> 카카오 계정이 연동되지 않았습니다. 카카오 계정 연동을 통해서 프로필 신뢰도를 높일 수 있습니다.
          </span><br/>
          <a href="{% url "social:begin" backend="kakao" %}" class="text-center social-login social-login-kakao"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;카카오 계정 연동하기</a>
        {% endif %}

        {% if user.userprofile.facebook %}
          <span class="small success">
            <i class="fa fa-check"></i> 페이스북 계정이 성공적으로 등록되었습니다.
          </span><br/>
        <p class="text-center social-login social-login-facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;페이스북 계정 연동 완료</p>
        {% else %}
          <span class="small danger">
            <i class="fa fa-close"></i> 페이스북 계정이 연동되지 않았습니다. 페이스북 계정 연동을 통해서 프로필 신뢰도를 높일 수 있습니다.
          </span><br/>
        <a href="{% url "social:begin" backend="facebook" %}" class="text-center social-login social-login-facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;페이스북 계정 연동하기</a>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
