<a href="{% url "dating-detail" notification.action_object.dating.hash_id %}#{{ notification.action_object.hash_id }}">
  <div class="media">
    <div class="media-left">
      <img src="{{ notification.actor.userprofile.profile_image_url }}" alt=""/>
    </div>
    <div class="media-body">
      <p>
        <strong>{{ notification.actor.userprofile.nickname }}</strong> 님이 새로운 메시지를 보냈습니다: "{{ notification.description|truncatechars:30 }}"
      </p>
      <p class="small pull-right darkgrey">
        <i class="fa fa-clock-o"></i>
        {{ notification.timesince }}
      </p>
    </div>
  </div>
</a>
