<a href="{% url "self-dating-detail" notification.action_object.hash_id %}">
  <div class="media">
    <div class="media-left">
      <img src="{{ notification.actor.userprofile.profile_image_url }}" alt=""/>
    </div>
    <div class="media-body">
      <p>
        셀프소개팅 <strong>"{{ notification.description }}"</strong>이 성공적으로 등록되었습니다.
      </p>
      <p class="small pull-right darkgrey">
        <i class="fa fa-clock-o"></i>
        {{ notification.timesince }}
      </p>
    </div>
  </div>
</a>
