<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <section id="legal" class="col-md-8 col-sm-12">
        <ul>
          <li><a href="{% url "rule-service" %}">서비스 이용약관</a></li>
          <li><a href="{% url "rule-privacy" %}">개인정보 보호정책</a></li>
        </ul>

        <p>
          매칭 이후 서비스 이용자간의 만남에 대한 책임은 전적으로 해당 사용자에 있습니다만<br />
          커뮤니케이션에 대한 문제가 발생한다면, 스누썸은 책임감을 갖고 돕습니다.
        </p>
      </section>

      <section class="col-md-4 hidden-xs hidden-sm">
        <h1 class="jua">썸타는 서울대 :: 스누썸</h1>
      </section>
    </div>
  </div>
</footer>
