<header id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url "home" %}" class="navbar-brand">썸타는 서울대, 스누썸</a>
      <button type="button" class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        >
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li><a href="">TEST</a></li>
      <li><a href="">TEST</a></li>
      <li><a href="">TEST</a></li>
      <li><a href="#" data-toggle="dropdown">TEST <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a>Anchor Text</a></li>
          <li class="divider"></li>
          <li><a>Anchor Text</a></li>
          <li><a>Anchor Text</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
