<!DOCTYPE html>
{% include "_partials/_comments.html" %}
<html id="snussum">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="썸타는 서울대학교 스누썸은 서울대학생의 서울대학생에 의한 서울대학생을 위한 서울대학교 동문 매칭 서비스입니다.">
    <meta name="keywords" content="snussum,스누썸,소개팅,서울대소개팅,썸타는서울대,서울대,서울대학교,썸타는서울대학교">

    <meta name="naver-site-verification" content="0d921114eb160931f493692c8ddb661ad208e193"/>

    {# Meta Tags - Facebook #}
    <meta property="og:title" content="스누썸::썸타는 서울대학교" />
    <meta property="og:site_name" content="스누썸::썸타는 서울대학교"/>
    <meta property="og:url" content="https://snussum.com{{ request.path }}" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="썸타는 서울대학교 스누썸은 서울대학생의 서울대학생에 의한 서울대학생을 위한 서울대학교 동문 매칭 서비스입니다. 가입하시고 매일 자정, 단 1명의 서울대학교 동문 이성을 소개받으세요. 주체적 서울대생이라면? 셀프소개팅에 도전해보는 것은 어떨까요?">
    <meta property="og:image" content="" />
    <meta property="fb:app_id" content="1613081268904196" />

    <title>{% block title %}썸타는 서울대학교 :: 스누썸{% endblock %}</title>

    {% load pipeline %}

    {% stylesheet 'vendor' %}
    {% stylesheet 'main' %}
    {% javascript 'vendor' %}
    {% javascript 'main' %}
    {% include "_partials/_analytics.html" %}
  </head>
  <body id="body"
    data-messages="{% for message in messages %}{{message}};{% endfor %}"
    data-message-tags="{% for message in messages %}{{ message.tags }};{% endfor %}"
  >
    {% include "_partials/_header.html" %}
    <div>{% block content %}{% endblock %}</div>
    {% include "_partials/_footer.html" %}
    {% include "_partials/_contact.html" %}
    {% include "_partials/_loading.html" %}

    {% if not debug %}{% include "_partials/_security.html" %}{% endif %}
  </body>
</html>
