<!DOCTYPE html>
{% include "_partials/_comments.html" %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}썸타는 서울대학교, 스누썸{% endblock %}</title>

    {% load pipeline %}

    {% stylesheet 'main' %}
    {% javascript 'main' %}
    {% include "_partials/_google-analytics.html" %}
  </head>
  <body id="body"
    data-messages="{% for message in messages %}{{message}};{% endfor %}"
    data-message-tags="{% for message in messages %}{{ message.tags }};{% endfor %}"
  >
    {% include "_partials/_header.html" %}
    <div id="content">{% block content %}{% endblock %}</div>
    {% include "_partials/_footer.html" %}
    {% include "_partials/_contact.html" %}
    {% include "_partials/_loading.html" %}

    {% if not debug %}{% include "_partials/_security.html" %}{% endif %}
  </body>
</html>
