{% extends "_base.html" %}
{% load staticfiles %}

{% block title %}서비스 소개 - 썸타는 서울대학교 :: 스누썸{% endblock %}

{% block content %}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="page-header text-center">
        <h1 class="jua">서비스 이용안내 <small class="jua hidden-xs hidden-sm">썸타는 서울대학교 :: 스누썸</small></h1>
        <p>서울대학생의, 서울대학생에 의한, 서울대학생을 위한 소개팅</p>
      </div>
    </div>

    <div class="row">
      <script async class="speakerdeck-embed" data-id="64addf86c9ef4fb9a902cb489e7fd504" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    </div>

    <div class="row">
      <div class="pull-right">
        <p class="small">
          <div class="visible-xs visible-sm">
            <a href="{% static "pdf/snussum.pdf" %}" target="_blank">서비스 소개자료 다운로드</a>
          </div>
          <div class="visible-md visible-lg">
            서비스 소개자료가 필요하신가요?
            <a href="{% static "pdf/snussum.pdf" %}" target="_blank">썸타는 서울대, 스누썸 - 서비스 소개자료 다운로드</a>
          </div>
        </p>
      </div>
    </div>

    <div class="row visible-md visible-lg">
      <blockquote>
        <p>
          "<strong>썸타는 서울대학교 :: 스누썸</strong> 은 서울대학생의 서울대학생에 의한 서울대학생을 위한 서울대학교 동문 매칭 서비스입니다.
          신뢰할 수 있고, 진정성 있는 소개팅 경험을 제공해드리기 위해서 열심히 노력하고 있습니다.
          또한 서울대학교 동문들의 피드백을 적극적으로 반영하여 지속적으로 업데이트 할 것임을 약속드립니다."<br/>
          <span class="small pull-right">
            썸타는 서울대학교 개발자 @썸날
          </span>
        </p>
      </blockquote>
    </div>
  </div>
</section>
{% endblock %}
