{% extends "_base.html" %}

{% block content %}
  <section id="rules">
    <div class="container">
      <div class="row">

        <div class="col-md-9">
          {% include "rules/_service/_content.html" %}
        </div>

        <div class="col-md-3">
          {% include "rules/_service/_nav.html" %}
        </div>

      </div>
    </div>
  </section>

<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '#scrollspy' }) 

  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
{% endblock %}
