{% extends "_base.html" %}

{% block content %}
  <section id="rules">
    <div class="container">
      <div class="row">

        <div class="col-md-9">
          <div class="page-header text-center">
            <h1 id="rules-service">서비스 이용약관</h1>
            <p>스누썸 및 스누썸 관련 제반 서비스의 이용과 관련하여 필요한 사항을 규정합니다</p>
          </div>

          <ul class="rules">
            <li class="rule">
              <h2 id="rules-service-01">제 1 조 목적</h2>
              <p>
                이 약관은 썸타는 서울대, 스누썸(https://snussum.com, 이하 "사이트") 에서 제공하는 인터넷 관련 서비스(이하 "서비스")를 이용함에 있어 사이트와 이용자의 권리와 의무, 책임사항 및 회원의 서비스이용절차에 관한 사항을 규정함을 목적으로 합니다.
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-02">제 2 조 용어의 정의</h2>
              <p>
                이 약관에서 사용하는 용어의 정의는 다음과 같습니다. 본 약관에 명시되지 않은 용어는 관련 법령이 정하는 바에 따르며, 그 외에는 일반적인 상거래관행에 의합니다.
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-03">제 3 조 약관의 명시와 개정</h2>
              <p>
                <ol>
                  <li>회사는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자 등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 사이트의 초기 서비스 화면에 게시합니다. 다만, 약관의 구체적 내용은 이용자가 연결화면을 통하여 볼 수 있도록 합니다.</li>
                  <li>회사는 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자 보호에 관한 법률, 유사수신행위의 규제에 관한 법률 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</li>
                  <li>회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이트의 초기화면에 최소 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관의 내용을 변경하는 경우에는 적용일자 30일 이전부터 공지합니다.</li>
                  <li>제3항에 따라 공지된 적용일자 이후에 회원이 회사의 서비스를 계속 이용하는 경우에는 개정된 약관에 동의하는 것으로 봅니다. 개정된 약관에 동의하지 아니하는 회원은 언제든지 자유롭게 서비스 이용계약을 해지할 수 있습니다. 유료서비스를 이용하는 회원이 약관의 개정에 동의하지 아니하여 해지할 경우 회사가 정한 환불정책에 따릅니다.</li>
                  <li>이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 일반 상 관례에 따릅니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-04">제 4 조 이용계약의 성립</h2>
              <p>
                <ol>
                  <li>이용계약은 이용자의 약관동의와 이용신청에 대한 회사의 승낙으로 성립합니다.</li>
                  <li>이용계약의 성립시기는 회사가 가입완료 표시를 신청절차 상에 표시한 시점으로 합니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-05">제 5 조 이용신청 및 제한</h2>
              <p>
                <ol>
                  <li>이용자는 회사가 정한 가입 양식에 따라 회원정보를 정확히 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.</li>
                  <li>
                    회사는 다음 각호에 해당하는 경우에 대해서는 그 신청에 대한 제한 사유가 해소될 때까지 승낙을 유보 또는 일부 서비스 이용을 제한할 수 있습니다.
                    <ol>
                      <li>내용이 허위인 것으로 판명 되거나, 그러하다고 의심할 만한 합리적인 사유가 발생할 경우</li>
                      <li>기타 회사가 필요하다고 인정되는 경우</li>
                    </ol>
                  </li>
                  <li>
                    회사는 다음에 해당하는 경우에는 이용신청을 승낙하지 아니할 수 있습니다
                    <ol>
                      <li>이미 가입된 회원과 이메일 주소가 동일한 경우</li>
                      <li>다른 사람의 명의를 사용하여 신청하였을 때</li>
                      <li>회원가입 신청서의 내용을 허위로 기재하였을 때</li>
                      <li>사회의 안녕 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때</li>
                      <li>기타 회사가 정한 이용신청 요건이 미비 되었을 때</li>
                    </ol>
                  </li>
                  <li>
                    회사는 다음 각 호에 해당하는 경우 그 사유가 해소될 때까지 이용계약 성립을 유보할 수 있습니다.
                    <ol>
                      <li>서비스 관련 제반 용량이 부족한 경우</li>
                      <li>기술상 장애 사유가 있는 경우</li>
                    </ol>
                  </li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-06">제 6 조 이용자 ID부여 및 변경</h2>
              <p>
                <ol>
                  <li>이용자 ID는 이용자가 가지고 있는 이메일 주소이며 메일 주소가 바뀌었을 경우 사용자 설정에서 변경할 수 있습니다.</li>
                  <li>서비스 이용자 ID 및 비밀번호의 관리책임은 회원에게 있습니다. 이를 소홀히 관리하여 발생하는 서비스 이용상의 손해 또는 제3자에 의한 부정이용 등에 대한 책임은 회원에게 있으며 회사는 그에 대한 책임을 일절 지지 않습니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-07">제 7 조 계약사항의 변경</h2>
              <p>
                회원은 회원정보관리를 통해 언제든지 자신의 정보를 열람하고, 수정할 수 있습니다. 회원은 이용 신청 시 기재한 사항에 변경이 있는 경우, 온라인으로 개인정보를 수정하거나 전자우편 기타방법으로 회사에 대하여 그 변경사항을 알려야 합니다. 이를 알리지 않아 발생하는 불이익에 대한 책임은 회원에게 있습니다.
              </p>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <nav id="scrollspy" class="hidden-xs hidden-sm" data-spy="affix">
            <ul class="nav">
              <li><a href="#rules-service">서비스 이용약관</a></li>
              <li><a href="#rules-service-01">목적</a></li>
              <li><a href="#rules-service-02">용어의 정의</a></li>
              <li><a href="#rules-service-03">약관의 명시와 개정</a></li>
              <li><a href="#rules-service-04">이용계약의 성립</a></li>
              <li><a href="#rules-service-05">이용신청 및 제한</a></li>
              <li><a href="#rules-service-06">이용자 ID부여 및 변경</a></li>
              <li><a href="#rules-service-07">계약사항의 변경</a></li>
              <li><a href="#rules-service-08">이용자의 정보 보안</a></li>
              <li><a href="#rules-service-09">서비스 이용</a></li>
              <li><a href="#rules-service-10">서비스의 중지 및 중지에 대한 공지</a></li>
              <li><a href="#rules-service-11">서비스 이용제한</a></li>
              <li><a href="#rules-service-12">정보제공 및 광고의 게재</a></li>
              <li><a href="#rules-service-13">게시물의 관리 운영</a></li>
              <li><a href="#rules-service-14">회사의 소유권</a></li>
              <li><a href="#rules-service-15">회사의 의무</a></li>
              <li><a href="#rules-service-16">이용자의 의무</a></li>
              <li><a href="#rules-service-17">개인정보보호정책</a></li>
              <li><a href="#rules-service-18">회원에 대한 통지</a></li>
              <li><a href="#rules-service-19">개별 서비스에 대한 약관 및 이용조건</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </section>

<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '#scrollspy' }) 
</script>
{% endblock %}
