{% extends "_base.html" %}

{% block content %}
  <section id="rules">
    <div class="container">
      <div class="row">

        <div class="col-md-9">
          <div class="page-header text-center">
            <h1 id="rules-service">서비스 이용약관</h1>
            <p>스누썸 및 스누썸 관련 제반 서비스의 이용과 관련하여 필요한 사항을 규정합니다</p>
          </div>

          <ul class="rules">
            <li class="rule">
              <h2 id="rules-service-01">제 1 조 목적</h2>
              <p>
                이 약관은 썸타는 서울대, 스누썸(https://snussum.com, 이하 "사이트") 에서 제공하는 인터넷 관련 서비스(이하 "서비스")를 이용함에 있어 사이트와 이용자의 권리와 의무, 책임사항 및 회원의 서비스이용절차에 관한 사항을 규정함을 목적으로 합니다.
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-02">제 2 조 용어의 정의</h2>
              <p>
                이 약관에서 사용하는 용어의 정의는 다음과 같습니다. 본 약관에 명시되지 않은 용어는 관련 법령이 정하는 바에 따르며, 그 외에는 일반적인 상거래관행에 의합니다.
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-03">제 3 조 약관의 명시와 개정</h2>
              <p>
                <ol>
                  <li>회사는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자 등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 사이트의 초기 서비스 화면에 게시합니다. 다만, 약관의 구체적 내용은 이용자가 연결화면을 통하여 볼 수 있도록 합니다.</li>
                  <li>회사는 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자 보호에 관한 법률, 유사수신행위의 규제에 관한 법률 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</li>
                  <li>회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이트의 초기화면에 최소 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관의 내용을 변경하는 경우에는 적용일자 30일 이전부터 공지합니다.</li>
                  <li>제3항에 따라 공지된 적용일자 이후에 회원이 회사의 서비스를 계속 이용하는 경우에는 개정된 약관에 동의하는 것으로 봅니다. 개정된 약관에 동의하지 아니하는 회원은 언제든지 자유롭게 서비스 이용계약을 해지할 수 있습니다. 유료서비스를 이용하는 회원이 약관의 개정에 동의하지 아니하여 해지할 경우 회사가 정한 환불정책에 따릅니다.</li>
                  <li>이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 일반 상 관례에 따릅니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-04">제 4 조 이용계약의 성립</h2>
              <p>
                <ol>
                  <li>이용계약은 이용자의 약관동의와 이용신청에 대한 회사의 승낙으로 성립합니다.</li>
                  <li>이용계약의 성립시기는 회사가 가입완료 표시를 신청절차 상에 표시한 시점으로 합니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-05">제 5 조 이용신청 및 제한</h2>
              <p>
                <ol>
                  <li>이용자는 회사가 정한 가입 양식에 따라 회원정보를 정확히 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.</li>
                  <li>
                    회사는 다음 각호에 해당하는 경우에 대해서는 그 신청에 대한 제한 사유가 해소될 때까지 승낙을 유보 또는 일부 서비스 이용을 제한할 수 있습니다.
                    <ol>
                      <li>내용이 허위인 것으로 판명 되거나, 그러하다고 의심할 만한 합리적인 사유가 발생할 경우</li>
                      <li>기타 회사가 필요하다고 인정되는 경우</li>
                    </ol>
                  </li>
                  <li>
                    회사는 다음에 해당하는 경우에는 이용신청을 승낙하지 아니할 수 있습니다
                    <ol>
                      <li>이미 가입된 회원과 이메일 주소가 동일한 경우</li>
                      <li>다른 사람의 명의를 사용하여 신청하였을 때</li>
                      <li>회원가입 신청서의 내용을 허위로 기재하였을 때</li>
                      <li>사회의 안녕 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때</li>
                      <li>기타 회사가 정한 이용신청 요건이 미비 되었을 때</li>
                    </ol>
                  </li>
                  <li>
                    회사는 다음 각 호에 해당하는 경우 그 사유가 해소될 때까지 이용계약 성립을 유보할 수 있습니다.
                    <ol>
                      <li>서비스 관련 제반 용량이 부족한 경우</li>
                      <li>기술상 장애 사유가 있는 경우</li>
                    </ol>
                  </li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-06">제 6 조 이용자 ID부여 및 변경</h2>
              <p>
                <ol>
                  <li>이용자 ID는 이용자가 가지고 있는 이메일 주소이며 메일 주소가 바뀌었을 경우 사용자 설정에서 변경할 수 있습니다.</li>
                  <li>서비스 이용자 ID 및 비밀번호의 관리책임은 회원에게 있습니다. 이를 소홀히 관리하여 발생하는 서비스 이용상의 손해 또는 제3자에 의한 부정이용 등에 대한 책임은 회원에게 있으며 회사는 그에 대한 책임을 일절 지지 않습니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-07">제 7 조 계약사항의 변경</h2>
              <p>
                회원은 회원정보관리를 통해 언제든지 자신의 정보를 열람하고, 수정할 수 있습니다. 회원은 이용 신청 시 기재한 사항에 변경이 있는 경우, 온라인으로 개인정보를 수정하거나 전자우편 기타방법으로 회사에 대하여 그 변경사항을 알려야 합니다. 이를 알리지 않아 발생하는 불이익에 대한 책임은 회원에게 있습니다.
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-08">제 8 조 이용자의 정보 보안</h2>
              <p>
                <ol>
                  <li>회사 서비스 가입절차를 완료하는 순간부터 회원은 입력한 정보의 비밀을 유지할 책임이 있으며 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대한 책임도 회원에게 있습니다.</li>
                  <li>ID와 비밀번호에 관한 모든 관리의 책임은 회원에게 있으며, ID 나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우에는 즉시 회사에 신고하여야 합니다. 신고하지 않음으로 인해 발생하는 모든 책임은 회원에게 있습니다.</li>
                  <li>이용자는 회사 서비스의 사용 종료 시마다 정확히 로그아웃(Log-out)해야 하며, 로그아웃 하지 아니하여 제3자가 회원에 관한 정보를 도용하는 등의 결과로 인해 발생하는 손해 및 손실에 대하여 회사는 책임을 부담하지 아니합니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-09">제 9 조 서비스 이용</h2>
              <p>
                <ol>
                  <li>회사는 회원의 이용신청을 승낙한 때부터 서비스를 개시합니다. 단 일부 서비스의 경우에는 지정된 일자부터 서비스를 개시합니다.</li>
                  <li>회사의 업무상 또는 기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 사이트에 공시하거나 회원에게 이를 통지합니다.</li>
                  <li> 서비스의 이용은 연중무휴, 1일 24시간을 원칙으로 합니다. 다만, 회사의 업무상 또는 기술상의 이유로 서비스가 일시 중지 될 수 있습니다. 이러한 경우 회사는 사전 또는 사후에 이를 공지합니다. </li>
                  <li>회원 가입한 후라도 일부 서비스 이용 시 서비스 제공자의 요구에 따라 특정회원에게만 서비스를 제공할 수 있습니다.</li>
                  <li>회사는 서비스를 일정범위로 분할하여 각 범위 별로 이용가능 시간을 별도로 정할 수 있습니다. 이 경우 그 내용을 사전에 공개합니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-10">제 10 조 서비스의 중지 및 중지에 대한 공지</h2>
              <ol>
                <li>이용자는 회사 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 국가의 비상사태, 정전, 회사 관리범위 외의 서비스 설비 장애 및 기타 불가항력에 의하여 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실에 대해 회사는 관련 책임을 부담하지 않습니다.</li>
                <li>회사가 정상적인 서비스 제공의 어려움으로 인하여 일시적으로 서비스를 중지하여야 할 경우에는 서비스 중지 1주일 전에 고지 후 서비스를 중지할 수 있으며, 이 기간 동안 회원이 고지내용을 인지하지 못한 것에 대하여 회사는 책임을 부담하지 아니합니다. 상당한 이유가 있을 경우 위 사전 고지기간은 감축되거나 생략될 수 있습니다. 또한 위 서비스 중지에 의하여 본 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 대하여도 회사는 책임을 부담하지 않습니다.</li>
                <li>회사의 사정으로 서비스를 영구적으로 중단하여야 할 경우에 제 2 항을 준용합니다. 다만 이 경우 사전 고지기간은 1개월로 합니다.</li>
                <li>천재지변, 국가비상사태 등 회사가 정상적인 서비스 제공이 불가능할 경우 일시적으로 서비스를 제한, 정지시킬 수 있으며 사전 또는 사후 회원에게 중지사유 및 기간을 공지합니다.</li>
                <li>회사는 사전 공지 후 서비스를 일시적으로 수정, 변경 및 중단할 수 있으며, 이에 대하여 회원 또는 제 3자에 어떠한 책임도 부담하지 않습니다.</li>
                <li>회사는 긴급한 시스템 점검, 증설 및 교체 등 부득이한 사유로 인하여 예고 없이 일시적으로 서비스를 중단할 수 있으며, 새로운 서비스로의 교체 등 회사가 적절하다고 판단하는 사유에 의하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.</li>
                <li>회사가 통제할 수 없는 사유로 인한 서비스 중단의 경우(시스템관리자의 고의, 과실 없는 디스크 장애, 시스템다운 등)에 사전통지가 불가능 하며 타인 (PC통신회사, 기간통신사업자 등)의 고의, 과실로 인한 시스템 중단 등의 경우에는 통지하지 않습니다.</li>
                <li>회사는 회원이 이 약관의 내용에 위배되는 행동을 한 경우, 임의로 서비스 사용을 제한 및 중지하거나 본인의 동의 없이 이용계약을 해지할 수 있습니다. 이 경우 회사는 회원의 접속을 금지할 수 있으며, 회원이 게시한 내용의 전부 또는 일부를 임의로 삭제 할 수 있습니다.</li>
                <li>장기간 휴면 회원인 경우, 안내 메일 또는 공지사항 발표 후 1주일간의 통지기간을 거쳐 서비스 사용을 중지할 수 있습니다.  </li>
              </ol>
            </li>
            <li class="rule">
              <h2 id="rules-service-11">제 11 조 서비스 이용제한</h2>
              <p>
                <ol>
                  <li>이용자가 제공하는 정보의 내용이 허위인 것으로 판명되거나, 허위가 있다고 의심할 만한 합리적인 사유가 발생할 경우 회사는 이용자의 본 서비스 사용을 일부 또는 전부 이용 정지할 수 있으며, 이로 인해 발생하는 불이익에 대해 회사는 책임을 부담하지 아니합니다.</li>
                  <li>회사는 이용자가 본 약관 제16조 이용자의 의무 등 본 약관의 내용에 위배되는 행동을 한 경우, 임의로 서비스 사용을 제한 및 중지할 수 있습니다. 이 경우 회사는 이용자의 접속을 금지할 수 있습니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-12">제 12 조 정보제공 및 광고의 게재</h2>
              <p>
                <ol>
                  <li>회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보 및 광고에 대해서는 전자우편이나 서신우편, SMS(핸드폰 문자메시지), DM(Direct Mail), 메신저 등의 방법으로 회원에게 제공할 수 있으며, 만약 원치 않는 정보를 수신한 경우 회원은 이를 수신거부 할 수 있습니다.</li>
                  <li>회사는 서비스의 운용과 관련하여 서비스화면, 홈페이지, 전자우편 등에 광고 등을 게재할 수 있으며, 회사는 서비스를 이용하고자 하는 회원이 이 광고게재에 대하여 동의하는 것으로 간주합니다.</li>
                  <li>회사는 서비스 상에 게재되어 있거나 서비스를 통한 광고주와의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 책임을 지지 않습니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-13">제 13 조 게시물의 관리 운영</h2>
              <p>
                <ol>
                  <li>
                  회원이 작성한 게시물에 대한 모든 권리 및 책임은 이를 게시한 회원에게 있으며, 회사는 회원이 게시하거나 등록하는 서비스의 내용물이 다음 각 항에 해당한다고 판단되는 경우에 사전통지 없이 삭제할 수 있고, 이에 대하여 회사는 어떠한 책임도 지지 않습니다.
                    <ol>
                      <li>본 서비스 약관에 위배되거나 상용 또는 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우</li>
                      <li>다른 회원 또는 제 3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우</li>
                      <li>공공질서 및 미풍양속에 위반되는 내용인 경우</li>
                      <li>범죄적 행위에 결부된다고 인정되는 내용일 경우 </li>
                      <li>제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우 </li>
                      <li>서비스 성격에 부합하지 않는 정보의 경우</li>
                      <li>기타 관계 법령에 위배되는 경우</li>
                    </ol>
                  </li>
                  <li>회사는 게시된 내용이 일정기간 이상 경과되어, 게시물로써의 효력을 상실하여 그 존치 목적이 불분명한 경우 공지사항 발표 후 1주일간의 통지기간을 거쳐 해당 게시물을 삭제할 수 있습니다.</li>
                  <li>회원의 게시물이 타인의 저작권을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 회원이 부담하여야 합니다.</li>
                  <li>회원은 서비스를 이용하여 얻은 정보를 가공, 판매하는 행위 등 서비스에 게재된 자료를 상업적으로 사용할 수 없습니다</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-14">제 14 조 회사의 소유권</h2>
              <p>
                <ol>
                  <li>회사가 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스 명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타 권리는 회사에게 있습니다.</li>
                  <li>회원은 회사가 명시적으로 승인한 경우를 제외하고는 제1항 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권설정행위, 상업적 이용행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-15">제 15 조 회사의 의무</h2>
              <p>
                <ol>
                  <li>회사는 법령과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 지속적 안정적으로 서비스를 제공하기 위하여 노력할 의무가 있습니다.</li>
                  <li>회사는 이용자의 개인 신상 정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 다만, 관계법령에 의해 국가기관의 요구나 전기통신관련법령 및 정보통신윤리위원회의 요청 등 법률의 규정에 따른 적법한 절차에 의한 경우에는 그러하지 아니합니다.</li>
                  <li>회사는 계속적이고 안정적인 서비스의 제공을 위하여 설비에 장애가 생기거나 멸실된 때에는 부득이한 사유가 없는 한 지체없이 이를 수리 또는 복구합니다.</li>
                  <li>회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 회사의 고의나 중과실에 기해 발생한 경우에 한하여 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.</li>
                  <li>회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 신속히 처리하여야 합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 통보하여야 합니다.</li>
                  <li>회사는 관련법령이 정하는 바에 따라서 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력합니다. 회원의 개인정보보호에 관해서는 관련법령 및 제 17조에 제시된 내용을 지킵니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-16">제 16 조 이용자의 의무</h2>
              <p>
                <ol>
                  <li>회원은 서비스 이용을 위해 가입할 경우 현재의 사실과 일치하는 완전한 정보 (이하 "가입정보")를 제공해야 하며, 가입정보가 변경된 경우 즉시 갱신해야 합니다.</li>
                  <li>회원은 본인의 아이디와 비밀번호 관리를 위해 제 8 조 이용자의 정보보안 사항을 준수하여야 합니다.</li>
                  <li>
                    회원은 서비스를 이용 시, 각 호에 해당하는 행위를 해서는 안됩니다.
                    <ol>
                      <li>타인(소수를 포함)에게 위해를 가하는 행위
                        <ol>
                          <li>타인의 아이디(ID), 비밀번호(PASSWORD) 도용 및 타인으로 가장하는 행위</li>
                          <li>타인과의 관계를 허위로 명시하는 행위</li>
                          <li>타인을 비방할 목적으로 사실 또는 허위의 사실을 적시하여 명예를 훼손하는 행위</li>
                          <li>자기 또는 타인에게 재산상의 이익을 주거나 타인에게 손해를 가할 목적으로 허위의 정보를 유통시키는 행위</li>
                          <li>수치심이나 혐오감 또는 공포심을 일으키는 말이나 음향, 글을 타인에게 전달하는 행위</li>
                          <li>회사의 사전 승낙 없이 서비스를 이용한 영리행위</li>
                          <li>타인의 정보통신서비스 이용명의를 도용하여 사용하는 행위</li>
                        </ol>
                      </li>
                      <li>불필요하거나 승인되지 않은 광고, 판촉물을 게재하거나, 저속 또는 음란한 데이터, 텍스트, 소프트웨어, 음악, 사진, 그래픽, 비디오 메시지 등을 게재하거나 메시지 또는 전자우편으로 보내는 행위</li>
                      <li>권리(지적재산권을 포함한 모든 권리)가 없는 컨텐츠를 게재하거나 메시지 또는 전자우편으로 보내는 행위</li>
                      <li>컴퓨터 소프트웨어, 하드웨어, 전기통신 장비를 파괴, 방해 또는 기능을 제한하기 위한 소프트웨어 바이러스를 게재하거나 메시지 또는 전자우편으로 보내는 행위</li>
                      <li>다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시, 게재, 전자우편으로 보내는 행위 등 다른 사용자의 개인정보를 수집 또는 저장하는 행위</li>
                      <li>재물을 걸고 도박하거나 사행행위를 하는 행위</li>
                      <li>윤락행위를 알선하거나 음행을 매개하는 내용의 정보를 유통시키는 행위</li>
                      <li>기타 불법적이거나 부당한 행위</li>
                    </ol>
                  </li>
                  <li>회원은 이 약관 및 관계법령에서 규정한 사항을 준수하여야 합니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-17">제 17 조 개인정보보호정책</h2>
              <p>
                <ol>
                  <li>회사는 이용 신청 시 회원이 제공하는 정보를 통하여 회원에 관한 정보를 수집하며, 회원의 개인정보는 본 이용계약의 이행과 본 이용계약상의 서비스제공을 위한 목적으로 이용합니다.</li>
                  <li>회사는 서비스 제공과 관련하여 취득한 회원의 정보를 본인의 승낙 없이 제 3자에게 누설 또는 배포할 수 없으며 상업적 목적으로 사용할 수 없습니다. 다만, 다음의 각 호의 경우에는 그러하지 아니합니다.
                    <ol>
                      <li>관계 법령에 의하여 수사상의 목적으로 관계기관으로부터 요구가 있는 경우</li>
                      <li>정보통신윤리위원회의 요청이 있는 경우</li>
                      <li>기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</li>
                    </ol> 
                  </li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-18">제 18 조 회원에 대한 통지</h2>
              <p>
                <ol>
                  <li>회사가 회원에 대한 통지를 하는 경우, 회원이 회사와 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다. </li> 
                  <li>회사는 불특정 다수 회원에 대한 통지의 경우, 1주일 이상 사이트에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별 통지합니다.</li>
                </ol>
              </p>
            </li>
            <li class="rule">
              <h2 id="rules-service-19">제 19 조 개별 서비스에 대한 약관 및 이용조건</h2>
              <p>회사는 제공하는 서비스의 구체적 내용에 따라 개별 서비스에 대한 약관 및 이용조건을 각 개별서비스마다 별도로 정하여 회원의 동의를 얻을 수 있습니다. 이 경우 개별 서비스에 대한 이용약관 등이 본 약관에 우선합니다.</p>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <nav id="scrollspy" class="hidden-xs hidden-sm" data-spy="affix">
            <ul class="nav">
              <li><a href="#rules-service">서비스 이용약관</a></li>
              <hr />
              <li><a href="#rules-service-01">목적</a></li>
              <li><a href="#rules-service-02">용어의 정의</a></li>
              <li><a href="#rules-service-03">약관의 명시와 개정</a></li>
              <li><a href="#rules-service-04">이용계약의 성립</a></li>
              <li><a href="#rules-service-05">이용신청 및 제한</a></li>
              <li><a href="#rules-service-06">이용자 ID부여 및 변경</a></li>
              <li><a href="#rules-service-07">계약사항의 변경</a></li>
              <li><a href="#rules-service-08">이용자의 정보 보안</a></li>
              <li><a href="#rules-service-09">서비스 이용</a></li>
              <li><a href="#rules-service-10">서비스의 중지 및 중지에 대한 공지</a></li>
              <li><a href="#rules-service-11">서비스 이용제한</a></li>
              <li><a href="#rules-service-12">정보제공 및 광고의 게재</a></li>
              <li><a href="#rules-service-13">게시물의 관리 운영</a></li>
              <li><a href="#rules-service-14">회사의 소유권</a></li>
              <li><a href="#rules-service-15">회사의 의무</a></li>
              <li><a href="#rules-service-16">이용자의 의무</a></li>
              <li><a href="#rules-service-17">개인정보보호정책</a></li>
              <li><a href="#rules-service-18">회원에 대한 통지</a></li>
              <li><a href="#rules-service-19">개별 서비스에 대한 약관 및 이용조건</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </section>

<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '#scrollspy' }) 

  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
{% endblock %}
