<form action="" method="" accept-charset="utf-8">
  <div class="form-group">
    <label>상대방에게 전달할 문구</label>
    <textarea name="" id="" class="form-control" rows=10></textarea>
  </div>

  <button type="submit" class="text-center btn-snussum-red">
    <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;셀프소개팅 지원하기
  </button>

  <hr />

  <span class="small success"><i class="fa fa-check"></i> 당신도 셀프소개팅의 주인공이 될 수 있습니다. 썸타는 서울대, 스누썸은 서울대학생의, 서울대학생에 의한, 서울대학생을 위한 소개팅 서비스입니다</span>
  <a href="{% url "self-dating-new" %}" target="_blank" class="text-center btn-snussum-darkgrey">
    <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;셀프소개팅 신청하기
  </a>
</form>
