<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>두베스탄 님의 셀프소개팅</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p>
        안녕하세요. 5월도 다가오는데 제 인연이 어디있는지 찾고 있습니다.
        이제 여기 안에 셀프소개팅 내용이 들어가면 정말 좋을 것 같네요.
        </p>
        <div>
          저는
          <span class="label label-info">웃는 얼굴이 이쁜</span>
          <span class="label label-info">전문직</span>
          <span class="label label-info">183cm</span>
        </div>
        <div>
          이런 상대방을 원합니다 :
          <span class="label label-success">웃는 얼굴이 이쁜</span>
          <span class="label label-success">전문직</span>
          <span class="label label-success">183cm</span>
        </div>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><i class="fa fa-clock-o"></i> 남은 시간 : 43분</li>
          <li><i class="fa fa-users"></i> 지원자 : 32명</li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
            <span class="sr-only">45% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
