<form action="" method="GET" accept-charset="utf-8">
  <div class="input-group">
    <input type="text" value="" name="search" class="form-control" placeholder="검색어를 입력하세요."/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>

<hr />

<span class="small success"><i class="fa fa-check"></i> 당신도 셀프소개팅의 주인공이 될 수 있습니다. 썸타는 서울대, 스누썸은 서울대학생의, 서울대학생에 의한, 서울대학생을 위한 소개팅 서비스입니다</span>
<a href="{% url "self-dating-new" %}" target="_blank" class="text-center btn-snussum-darkgrey">
  <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;셀프소개팅 신청하기
</a>
