{% extends "_base.html" %}

{% block content %}
<section id="self-dating-detail">
  <div class="container">
    <div class="col-xs-12 col-sm-8">
      <section class="self-dating">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>{{ self_dating.title }}</h1>

            <hr />

            {{ self_dating.content|safe }}

            <hr />

            <div class="self-dating-preferences">
              <div>
                <span>저는</span>
                <ul>
                  {% for tag in self_dating.tags_myself %}
                    <li><span class="label label-info">{{ tag }}</span></li>
                  {% endfor %}
                </ul>
                <span><strong>{% if self_dating.user.userprofile.is_boy %}남자{% else %}여자{% endif %}</strong> 입니다</span>
              </div>
              <div>
                <span>저는</span>
                <ul>
                  {% for tag in self_dating.tags_partner %}
                    <li><span class="label label-success">{{ tag }}</span></li>
                  {% endfor %}
                </ul>
                <span><strong>{% if self_dating.user.userprofile.is_boy %}여자{% else %}남성{% endif %}</strong> 을 원합니다</span>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>지원자 현황</h2>
          </div>
        </div>
      </section>

      <section>
        <h2>유사 프로젝트</h2>
      </section>
    </div>

    <div class="col-xs-12 col-sm-4">
      <section id="self-dating-apply" class="affix">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>셀프소개팅 지원하기</h2>

            <form action="" method="" accept-charset="utf-8">
              <div class="form-group">
                <label>상대방에게 전달할 문구</label>
                {{ form.content }}
              </div>

              <button type="submit" class="text-center btn-snussum-red">
                <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;셀프소개팅 지원하기
              </button>
            </form>
          </div>
        </div>
      </section>

      <section class="visible-xs">
        <button id="btn-self-dating-apply" type="button" class="text-center btn-snussum-red">
          <i class="fa fa-sign-in"></i>&nbsp;셀소 지원하기
        </button>
      </section>
    </div>
  </div>
</section>
{% endblock %}
