{% extends "_base.html" %}
{% load self_datings %}

{% block content %}
  {% with myself_dating_apply=self_dating|myself_dating_apply:user %}
<section id="self-dating-detail">
  <div class="container">
    <div class="col-xs-12 col-sm-8">
      <section class="self-dating">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>{{ self_dating.title }}</h1>

            <hr />

            {{ self_dating.content|safe }}

            <hr />

            <div class="self-dating-preferences">
              <div>
                <span>저는</span>
                <ul>
                  {% for tag in self_dating.tags_myself %}
                    <li><span class="label label-info">{{ tag }}</span></li>
                  {% endfor %}
                </ul>
                <span><strong>{% if self_dating.user.userprofile.is_boy %}남자{% else %}여자{% endif %}</strong> 입니다</span>
              </div>
              <div>
                <span>저는</span>
                <ul>
                  {% for tag in self_dating.tags_partner %}
                    <li><span class="label label-success">{{ tag }}</span></li>
                  {% endfor %}
                </ul>
                <span><strong>{% if self_dating.user.userprofile.is_boy %}여자{% else %}남성{% endif %}</strong> 을 원합니다</span>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>지원자 현황</h2>
          </div>
        </div>
      </section>

      <section id="self-dating-apply-section" class="visible-xs">
        <div class="panel panel-default border border-red">
          <div class="panel-body">
            <h2>셀프소개팅 지원하기</h2>
            {% include "datings/self_dating/_apply_form.html" %}
          </div>
        </div>
      </section>

      <section>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>다른 셀프소개팅</h2>

            {% for self_dating in recent_self_datings %}
              {% include "datings/self_dating/_dating.html" with self_dating=self_dating %}
            {% endfor %}
          </div>
        </div>
      </section>
    </div>

    <div class="col-xs-12 col-sm-4">
      <section id="self-dating-apply-sidebar" data-spy="affix">
        <div class="panel panel-default border border-red">
          <div class="panel-body">
            <h2>셀프소개팅 지원하기</h2>
            {% include "datings/self_dating/_apply_form.html" %}
          </div>
        </div>
      </section>

      <section class="visible-xs">
        <a id="btn-self-dating-apply" href="#self-dating-apply-section" class="text-center btn-snussum-red">
          <i class="fa fa-sign-in"></i>&nbsp;셀소 지원하기
        </a>

        <a id="btn-self-dating-new" href="{% url "self-dating-new" %}" target="_blank" class="text-center btn-snussum-darkgrey">
          <i class="fa fa-sign-in"></i>&nbsp;나도 셀소하기
        </a>
      </section>
    </div>
  </div>
</section>
  {% endwith %}
{% endblock %}
