{% extends "_base.html" %}

{% block title %}셀프소개팅 전체보기 - 썸타는 서울대학교 :: 스누썸{% endblock %}

{% block content %}
<section id="self-dating-list">
  <div class="container">
    <div class="row">
      <div class="page-header text-center">
        <h1 class="jua">셀프소개팅 전체보기</h1>
        <p>누군가 나의 연애를 묻거든 고개 들어 셀소를 보라</p>
      </div>
    </div>

    <section class="col-xs-12 col-sm-8">
      {% for self_dating in self_datings %}
        {% include "datings/self_dating/_dating.html" with self_dating=self_dating %}
      {% endfor %}

      <nav class="text-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li>
              <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-step-backward"></i></span>
              </a>
            </li>
          {% endif %}

          {% if page_obj.has_next %}
            <li>
              <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-step-forward"></i></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </section>

    <section class="col-xs-12 col-sm-4">
      <section id="self-dating-list-sidebar" data-spy="affix" class="visible-sm visible-md visible-lg">
        <div class="panel panel-default border border-darkgrey">
          <div class="panel-body">
            {% include "datings/self_dating/_list_sidebar.html" %}
          </div>
        </div>
      </section>

      <section class="visible-xs">
        <a id="btn-self-dating-new" href="{% url "self-dating-new" %}" target="_blank" class="text-center btn-snussum-darkgrey">
          <i class="fa fa-sign-in"></i>&nbsp;나도 셀소하기
        </a>
      </section>
    </section>
  </div>
</section>
{% endblock %}
