section#today {
  // background-color: #F5AB35;
  background: url(http://local.snussum.com:9000/static/img/pattern.png);
}

section#recently {
  background-color: #FDE3A7;
  height: 300px;
}

.dating {
  $mobile: new-breakpoint(max-width 480px 4);

  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
}
