header#header {
  background-color: $snussum-darkgrey;
  color: white;

  a.navbar-brand {
    color: inherit;
  }

  span.icon-bar {
    background-color: white;
  }

  li {
    color: $snussum-darkgrey;

    a {
      color: white;

      &:hover {
        background-color: $snussum-red;
        color: white;
      }
    }
  }

  button {
    color: white;
  }
}
