section#rules {
  color: $snussum-darkgrey;

  ul.rules {
    list-style-type: none;
    padding-left: 16px;
    border-left: 1px solid $snussum-lightgrey;
    font-size: 16px;
    line-height: 1.75;

    li.rule {
      padding-bottom: 30px;
      font-weight: lighter;

      h2 {
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
  }

  nav {
    font-size: 14px;

    li {
      &.active {
        color: $snussum-blue;
        border-left: 1px solid $snussum-blue;
      }

      a {
        padding: 3px;
        padding-left: 10px;
        color: inherit;

        &:hover {
          color: $snussum-blue;
          border-left: 1px solid $snussum-blue;
        }
      }
    }
  }
}
