section#verify-snu {
  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  div.snu-verification-lists {
    .snu-verification-list {
      padding-bottom: 15px;

      a {
        color: black;
        text-decoration: none;

        padding: 10px;
      }

      &.active {
        a {
          color: white;
          background-color: $snussum-blue;
          border-radius: 5px;
        }
      }
    }
  }

  div.snu-verification-details {
    div.snu-verification-detail {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
