section#login {
  section#login-description {
  }

  section#login-content {
    section#login-form {
      @include span-columns(8);
    }

    section#login-event {
      @include span-columns(4);
    }
  }
}

section#signup {
  section#signup-description {
    div.wrapper {
      border: 1px solid black;
      padding: 10px;
    }
  }

  section#signup-content {
    section#signup-agreement {

      section#signup-agreement-title {
        @include span-columns(2);
      }

      section#signup-agreement-content {
        @include span-columns(10);

        div.agreement {
          @include span-columns(5 of 10);

          div.agreement-content {
            max-width: 100%;
            height: 100px;
            overflow: scroll;
          }
        }
      }
    }

    section#campaign {
      section#campaign-title {
        @include span-columns(2);
      }

      section#campaign-content {
        @include span-columns(10);
      }
    }

    section#signup-form {
      @include span-columns(8);
    }

    section#signup-event {
      @include span-columns(4);
    }
  }
}

section#verify {
  section#universities {
    ul {
      padding-left: 0px;
    }

    li.university {
      $mobile: new-breakpoint(max-width 480px 4);

      @include span-columns(2);
      @include omega(6n);

      @include media($mobile) {
        @include span-columns(2);
        @include omega(2n);
      }

      img {
        @include filter(grayscale(100%));
        max-width:100%;
        max-height:100%;

        &:hover {
          @include filter(grayscale(0%));
        }

        &.selected {
          @include filter(grayscale(0%));
        }
      }
    }
  }
}

section#verify-profile {
  textarea {
    $box: border-box;
    @mixin box-sizing($box) {
      @include prefixer(box-sizing, $box, webkit moz spec);
    }
    width: 100%;
  }
}
