{% if user.userprofile.is_phonenumber_verified %}
  <p class="small success">
    <i class="fa fa-check"></i>
    상대방과 서로 수락하게 되면, 서로의 연락처가 공개됩니다.
    연락처 공개 전, 아래의 대화방을 통해서 충분한 대화 나누시기 바랍니다.
  </p>

  <form action="{% url "dating-accept" dating.hash_id %}" method="POST" accept-charset="utf-8">{% csrf_token %}
    <label>상대방에게 남길 메시지</label>
    <div class="form-group"k>
      <textarea name="content" id="id_content" class="form-control" rows="3" placeholder="상대방에게 수락 시 남기는 메시지는 SMS로 발송됩니다"></textarea>
    </div>
    <button type="submit" class="text-center btn-snussum-red">
      <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;연락처 공개하기
    </button>
  </form>
{% else %}
<p class="small danger">
  <i class="fa fa-close"></i>
  상대방과 매칭을 위해서는 연락처 인증이 필요합니다.
  아래의 양식을 통해서 인증할 수 있습니다.
</p>

<form action="{% url "users:update-profile-account-phonenumber" %}" method="POST" accept-charset="utf-8">{% csrf_token %}
  <div class="form-group">
    <input type="tel" value="{{ user.userprofile.phonenumber }}" name="phonenumber" id="id_phonenumber" class="form-control"/>
  </div>

  <button type="submit" class="text-center btn-snussum-red">
    <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;연락처 업데이트
  </button>
</form>
{% endif %}

