{% if recent_ratings %}
  <ul>
    {% for recent_rating in recent_ratings %}
      <li>{{ recent_rating.get_score_display }} {{ recent_rating.content }}</li>
    {% endfor %}
  </ul>
{% else %}
  최근 평가가 없습니다.
{% endif %}

<hr />

{% if my_rating %}
  {{ my_rating }}
{% else %}
  <form action="{% url "dating-rating" dating.hash_id %}" method="POST" accept-charset="utf-8">{% csrf_token %}
    <div class="form-group">
      <label>평점</label>
      <select id="id_score" name="score" class="form-control">
        {% for key, value in RATING_SCORE_CHOICES %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>한줄 평가</label>
      <span class="small success"><i class="fa fa-check"></i>
        상대방은 당신이 남긴 평가를 볼 수 없습니다.
        진솔하고 솔직하게 적어주시면 다른 이용자에게 큰 도움이 됩니다.
      </span>
      <textarea id="id_content" class="form-control" name="content" rows="3" placeholder="다른 이용자를 위해서 진솔한 평가를 남겨주세요. 상대방은 평가 내용에 대해서 확인할 수 없습니다."></textarea>
    </div>

    <button type="submit" class="text-center btn-snussum-red">
      <i class="fa fa-ok"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;다른 사용자를 위해 평가 남기기
    </button>
  </form>
{% endif %}
