{% extends "_base.html" %}
{% load datings %}

{% block title %}{{ dating|partner:user }} 님과의 매칭 - 썸타는 서울대학교 :: 스누썸{% endblock %}

{% block content %}
  {% with partner=dating|partner:user partner_is_accepted=dating|partner_is_accepted:user myself_is_accepted=dating|myself_is_accepted:user %}
    <div id="dating-detail" class="container">
      <div class="col-xs-12 col-sm-8">
        <section id="dating-detail-profile">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>자기소개</h2>
              <div class="col-xs-12">
                <div class="col-md-4">
                  <img src="{{ partner.userprofile.profile_image_url }}" alt=""/>
                </div>
                <div class="col-md-8">
                  <table class="table table-hover table-striped">
                    <thead>
                    </thead>
                    <tbody>
                      <tr>
                        <th>닉네임</th>
                        <td>{{ partner.userprofile.nickname }} ( #{{partner.userprofile.hash_id }} )</td>
                      </tr>
                      <tr>
                        <th>연락처</th>
                        <td>
                          {% if dating.is_accepted %}
                            {{ partner.userprofile.phonenumber }}
                          {% else %}
                            연락처는 매칭 후 공개됩니다
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>나이</th>
                        <td>
                          {% if partner.userprofile.age %}
                            {{ partner.userprofile.age }}
                          {% else %}
                            <span class="small success">
                              <i class="fa fa-check"></i>
                              상대방이 나이를 입력하지 않았습니다.<br/>
                              상대방도 회원님의 나이를 확인할 수 없습니다.
                            </span>
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>키(신장)</th>
                        <td>
                          {% if partner.userprofile.height %}
                            {{ partner.userprofile.height }} cm
                          {% else %}
                            <span class="small success">
                              <i class="fa fa-check"></i>
                              상대방이 키(신장)를 입력하지 않았습니다.<br/>
                              상대방도 회원님의 나이를 확인할 수 없습니다.
                            </span>
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>지역</th>
                        <td>
                          {% if partner.userprofile.region %}
                            {{ partner.userprofile.get_region_display }}
                          {% else %}
                            선택한 지역이 없습니다
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-xs-12">
                {{ partner.userprofile.profile_introduce|safe }}
              </div>
            </div>
          </div>
        </section>

        <section id="ratings">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>평가 남기기</h2>
              {% include "datings/_rating_form.html" %}
            </div>
          </div>
        </section>

        <section id="dating-accept-section" class="visible-xs">
          <div class="panel panel-default border border-red">
            <div class="panel-body">
              <h2>수락하기</h2>
              {% include "datings/_accept_form.html" %}
            </div>
          </div>
        </section>

        <section id="comments" data-hash-id="{{ dating.hash_id }}">
          <div class="kakaotalk">
            {% for comment in dating.comment_set.all %}
              {% if comment.user == user %}
                {% include "datings/_comments/_me.html" with content=comment.content %} 
              {% else %}
                {% include "datings/_comments/_partner.html" with content=comment.content %} 
              {% endif %}
            {% endfor %}
          </div>

          <section id="comments-input">
            <div class="row">
              <div class="col-xs-10 col-no-padding">
                <textarea name="" id="" rows="4" class="form-control"></textarea>
              </div>
              <div class="col-xs-2 col-no-padding">
                <button>전송</button>
              </div>
            </div>
          </section>
        </section>
      </div>

      <div class="col-xs-12 col-sm-4">
        <section id="dating-accept-sidebar" data-spy="affix">
          <div class="panel panel-default border border-red">
            <div class="panel-body">
              <h2>수락하기</h2>
              {% include "datings/_accept_form.html" %}
            </div>
          </div>
        </section>
      </div>

      {% if not dating.is_accepted and myself_is_accepted == None %}
        <section class="visible-xs">
          <a id="btn-dating-accept" href="#dating-accept-section" class="text-center btn-snussum-red">
            <i class="fa fa-thumbs-o-up"></i>&nbsp;수락하기
          </a>
        </section>
        <section class="visible-xs">
          <a id="btn-dating-refuse" href="#dating-accept-section" class="text-center btn-snussum-darkgrey">
            <i class="fa fa-thumbs-o-down"></i>&nbsp;거절하기
          </a>
        </section>
      {% endif %}

    </div>
  {% endwith %}
{% endblock %}
